.shoping-cart-table {
    h2 {
        font-size: 30px;
        font-weight: 500;
    }

    tr {
        td:last-child,
        th:last-child {
            text-align: left;
            display: flex;
            justify-content: flex-end;
        }
    }

    button {
        margin: 5px;
        width: 25px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .total {
        text-align: right;
        font-weight: 600;
        font-size: 25px;
        margin-right: 10px;
    }
}
